body{
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (min-width: 760px) {
    body {
        background-color: blueviolet;
    }
}

@media (min-width: 960px) {
    body {
        background-color: white;
    }
    .pizzas {
        display: flex;
    } 
}

img{
   width: 210px;
   height: 180px; 
}
.small{
    flex: 1;
    border: 2px;
    padding: 1em;
    margin: 1em;
    border-radius: 0.25;
    background-color: beige;
}
.medium{
    flex: 1;
    border: 2px;
    padding: 1em;
    margin: 1em;
    border-radius: 0.25;
    background-color: rgb(0, 247, 255);
}
.large{
    flex: 1;
    border: 2px;
    padding: 1em;
    margin: 1em;
    border-radius: 0.25;
    background-color: azure;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
